/* Base styles */
body {
    background: black;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Clock image */
img {
    object-fit: contain;
    max-height: 12%;
    max-width: 12%;
}

/* Clock and numbers container */
.clock-and-numbers {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

/* Digits */
.digit {
    font-size: 20rem; /* Initial font size for the digits */
    line-height: 20rem;
    color: white;
    background-color: black;
    margin-right: 10px;
}

/* Button container */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Buttons */
.start-stop-button,
.reset-button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 8px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.start-stop-button:hover,
.reset-button:hover {
    background-color: grey;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    img {
        max-height: 8%;
        max-width: 8%;
    }

    .digit {
        font-size: 8rem; /* Adjust font size for smaller screens */
        line-height: 8rem;
        margin-right: 5px; /* Adjust spacing for smaller screens */
    }

    .button-container {
        flex-direction: column;
    }

    .start-stop-button,
    .reset-button {
        width: 100%;
        margin: 5px 0;
    }
}