
img{
    object-fit: contain;
    max-height: 8%;
    max-width: 8%;
    display: inline-block;
}

.container2{
    display: flex;
    flex-direction: row;
    margin-left:8%;
    position: absolute;
    top:8%;
    font-size: 20rem;
    line-height: 20rem;
    color: white;
    background-color: black;
}
.bigcontainer{
    justify-content: center;
    text-align: center;
    background: black;
}